
@using WebShoppingDotnet.utilt;
@model List<Product>;

@{
    ViewData["Title"] = "Giảm giá";
    Layout = "~/Views/Shared/_admin_layout.cshtml";
}
<section class="content-main">

    <div class="content-header">
        <h2 class="content-title">Danh sách sản phẩm giảm giá</h2>
        <div>
            <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Tạo mới</a>
        </div>
    </div>

    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col col-check flex-grow-0">
                    <div class="form-check ms-2">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </div>
               

                <div class="col-md-6 row d-flex flex-row">
                    <div class="input-group col-6 w-50">
                        <span class="input-group-text">Từ</span>
                        <input id="filter-date-start" type="date" class="form-control">
                    </div>

                    <div class="input-group col-6 w-50">
                        <span class="input-group-text">Đến</span>
                        <input id="filter-date" type="date" class="form-control">
                    </div>
                </div>
              
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                            </div>
                        </th>
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Giá gốc</th>
                        <th>Giá sell</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th class="text-end">  </th>
                    </tr>
                    </thead>
                    <tbody id="list-product">
                        @{var idex = 0;}
                   @foreach (var item in Model)
                        {
                            idex++;
                            <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                            </div>
                        </td>
                        <td>@idex</td>
                        <td style="max-width: 200px"><b >@item.Tensp</b></td>
                        <td>@ProductFotmat.formatPrice(item.Dongia) đ</td>
                        <td>@ProductFotmat.formatPrice(item.Dongia * (1- item.Sale)) đ</td>
                        <td> @item.Ngaybatdausale</td>
                        <td> @item.Ngayketthucsale</td>
                        <td class="text-end">

                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i
                                        class="material-icons md-more_horiz"></i> </a>
                                <div class="dropdown-menu">
                                   <a class="dropdown-item" href="~/DetailProductAdmin?m=@item.Masp">Xem chi tiết</a>
                                    <a class="dropdown-item" href="~/EditProductAdmin?m=@item.Masp">Chỉnh sửa</a>
                                    <a onclick="clickDelete('@item.Masp')" class="dropdown-item text-danger" href="#">Xoá</a>
                                </div>
                            </div> <!-- dropdown //end -->
                        </td>
                    </tr>  
                   }
                  
                   
                    </tbody>
                </table>
            </div> <!-- table-responsive end // -->

            <div id="page-index">


               <nav class="float-end mt-4" aria-label="Page navigation">
                <ul class="pagination">
                   
                    @{
                        var start = (int)@ViewData["page"] - 1 <= 0 ? (int)@ViewData["page"] : (int)@ViewData["page"] - 1;
                        var pagePre = (int)@ViewData["page"] - 1;
                         var pageNext = (int)@ViewData["page"] + 1;

                    }
                     @if( (int)@ViewData["page"] == 1)
                    {
                        <li class="page-item disabled"><a class="page-link" href="~/SellAdmin?pageNumber=@pagePre">Trước</a></li>
                    }
                    else{
                         <li class="page-item "><a class="page-link" href="~/SellAdmin?pageNumber=@pagePre">Trước</a></li>
                     }
                   
                     @for (var i = start; i <=(int) @ViewData["TotalPage"]; i++)
                    {
                        @if(i ==  (int)@ViewData["page"]){
                          <li class="page-item active"><a class="page-link" href="~/SellAdmin?pageNumber=@i">@i</a></li>

                        }
                        else
                        {
                          <li class="page-item "><a class="page-link" href="~/SellAdmin?pageNumber=@i">@i</a></li>
   
                        }
                        @if(i -  (int)@ViewData["page"] == 5)
                        {
                            break;
                        }

                    }
                    @if( (int)@ViewData["page"] == (int) @ViewData["TotalPage"])
                    {
                        <li class="page-item disabled"><a class="page-link" href="~/SellAdmin?pageNumber=@pageNext">Sau</a></li>
                    }
                    else{
                         <li class="page-item "><a class="page-link" href="~/SellAdmin?pageNumber=@pageNext">Sau</a></li>
                     }
                </ul>
            </nav>
            </div>


        </div> <!-- card-body end// -->
    </div> <!-- card end// -->


</section>
@section Scripts
{
<script>
    
           function pushNotify(status, message, title) {
        new Notify({
            status: status,
            title: title,
            text: message,
            effect: 'fade',
            speed: 300,
            customClass: '',
            customIcon: '',
            showIcon: true,
            showCloseButton: true,
            autoclose: true,
            autotimeout: 2000,
            gap: 20,
            distance: 20,
            type: 1,
            position: 'right top',
            customWrapper: '',
        })
    }
       function clickDelete(id){
           $.ajax({
            url: '/ProductAdmin/EditProduct?m='+id,
            type: 'POST',
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data)
                if(data == 'success'){
                 pushNotify('success', 'Thêm sản phẩm thành công','Thêm sản phẩm');
                 location.reload();
                }else{
                    pushNotify('danger', 'Thêm sản phẩm thất bại','Thêm sản phẩm');
                }
            }
      
    });
       }
       
</script>
}