@*
    DetailProduct detailProduct = (DetailProduct) request.getAttribute("detailProduct");
    Product product = detailProduct.getProduct();
    BoSuaTap bst = detailProduct.getBoSuaTap();
    List<Product> listRelateds = detailProduct.getRelated();
    double oleSale=product.getSell();
*@
@{

    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Product product = ViewBag.Product;
    Bosutap collection = ViewBag.Collection;
    List<String> urls = ViewBag.Urls;
    List<Product> products = ViewBag.Products;
    Dictionary<String, List<String>> map = ViewBag.Map;



}
@functions{
    public string formatPrice(double price){
        price = @Math.Round(price, 0);
        return String.Format("{0:N1}", price);
    }
}

<link rel="stylesheet" href="~/css/detail.css">

<script>

</script>
<div class="container" style="font-family: Arial, sans-serif;">
<section class="detail">
    <div class="detail__image">
        <div id="image__right" @if(urls.Count==1){@:style="width: 85%"
        }>

            <div id="image__right__element">
                <img id="image__right__element--img"
                     src="..@urls.ElementAt(0)">
            </div>
            <div class="img-zoom-lens">
            </div>
            <div class="img-zoom-result">
            </div>
        </div>

        <div id="image__left"  @if(urls.Count==1){@:style="display: none"
        }>
            <ul class="image__left__list">

               @for (var i = 0; i < urls.Count; i++) {
                <li class="image__left__item" style="display: block;">
                    <img onclick="leftToRightSupport(this);imageZoom();"
                         class="image__left__element"
                         src="..@urls.ElementAt(i)">
                </li>
                }
            </ul>
            <div class="up text-center" onclick="changeImage(-1,@urls.Count)"><i
                    class="fas fa-angle-up"></i></div>
            <div class="down text-center" onclick="changeImage(1,@urls.Count)"><i
                    class="fas fa-angle-down"></i></div>
        </div>


    </div>
    <div class="detail__infor">
        <div class="infor__head">
            <div class="product__title">
                <h1>@product.Tensp @product.Masp
                </h1>
            </div>
        </div>
        <div class="infor__body">
            <div class="product__price">
                    @if (product.Sale > 0)
                    {
                        <span class="product__price__sale">
                                @formatPrice(product.Dongia-(product.Dongia*product.Sale))₫
                            </span>
                        <div class="product__price-origin">
                              <s>@formatPrice(product.Dongia)₫</s>
                        </div>
                        <div class='product__percent__sale' >
                            <span>@Math.Round(product.Sale*100, 1)%</span>
                        </div>
                    }
                    else
                    {
                        <span class="product__price__sale" style="color: #000">
                                @formatPrice(product.Dongia)₫
                            </span>
                    }
            </div>

                @if((product.M+product.S+product.L+product.Xl)>0){
                    <div class="product__size">
                        <div class="product__header">
                            Kích thước
                        </div>
                        <div class="product__size__elements">
                            <div class="product__size__element">
                                @if (product.S > 0) {
                                <label class="text-center label__size" >
                                    <strong>S</strong>
                                    <img class="sold-out-image select-image"
                                         src="../img/icon/select.png" alt="">
                                </label>
                                } else {
                                <label class="text-center label__size" >
                                    <strong>S</strong>
                                    <img class="sold-out-image" src="../img/icon/soldout.png"
                                         alt="">
                                </label>
                                }

                                @if (product.M > 0) {
                                <label class="text-center label__size" >
                                    <strong>M</strong>
                                    <img class="sold-out-image select-image"
                                         src="../img/icon/select.png" alt="">
                                </label>
                                } else {
                                <label class="text-center label__size" >
                                    <strong>M</strong>
                                    <img class="sold-out-image" src="../img/icon/soldout.png"
                                         alt="">
                                </label>
                                }
                                @if (product.L > 0) {
                                <label class="text-center label__size" >
                                    <strong>L</strong>
                                    <img class="sold-out-image select-image"
                                         src="../img/icon/select.png" alt="">
                                </label>
                                } else {
                                <label class="text-center label__size" >
                                    <strong>L</strong>
                                    <img class="sold-out-image" src="../img/icon/soldout.png"
                                         alt="">
                                </label>
                                }
                                @if (product.Xl > 0) {
                                <label class="text-center label__size" >
                                    <strong>XL</strong>
                                    <img class="sold-out-image select-image"
                                         src="../img/icon/select.png" alt="">
                                </label>
                                } else {
                                <label class="text-center label__size" >
                                    <strong>XL</strong>
                                    <img class="sold-out-image" src="../img/icon/soldout.png"
                                         alt="">
                                </label>
                                }

                            </div>
                        </div>

                    </div>

                    <div class="product__color">
                        <div class="product__header">
                            Màu sắc

                        </div>
                        <div class="product__color__elements action-flex">
                                @{
                                    string[] colors = @product.Mau.Split(",");
                                    foreach(var color in colors)
                                    {
                                        <label class="text-center">@color
                                        </label>
                                    }
                                }
                             
                        </div>

                    </div>


                    <div class="infor__footer">
                        <div class="add-cart text-center">
                            <button class="add-cart__button" onclick="activeForm();">THÊM VÀO GIỎ</button>
                        </div>
                        <div class="buy-now text-center">
                            <a href="~/home"><button class="buy-now__button">TIẾP TỤC MUA HÀNG</button></a>
                        </div>
                    </div>
               }else{
                    <div class="infor__footer">
                        <div class="store-only text-center">
                            <button>CHỈ CÒN TẠI CỬA HÀNG</button>
                        </div>
                    </div>
               }
            

            <div class="decriptions">
                <p><strong>@collection.Name
                </strong></p>
                <p><@collection.MotaBst
                </p>
                @if(product.Mota!=null){
                <p>@product.Mota
                </p>
                }
            </div>
        </div>
    </div>

</section>
<section class="related-product">
    <div class="wrap">
        <div class="wrap__header">
            <h2 class="text-center">SẢN PHẨM TƯƠNG TỰ</h2>
        </div>
        <div class="wrap__content">

            <ul class="wrap__list">

                <div class="wrap__list__box">

                 @{
                 for(int i=0;i<@products.Count;i++){
                 Product p = @products.ElementAt(i);
                       <li class="wrap__element">
                            <div class="wrap__element__image">
                            <img src='..@map[@products.ElementAt(i).Masp].ElementAt(0)' alt="">
                                <div class="clear-fix">
                                    <a href="~/Detail/?idProduct=@p.Masp"
                                       class="detail__link"></a>
                                    <div class="advise-box">
                                        <a href="" class="advise__button text-center">TƯ VẤN</a>
                                    </div>
                                </div>
                                
                                    @if(p.M+p.S+p.L+p.Xl==0){
                                        @if(p.Sale>0){
                                            <div class="wrap__sale-off text-center">
                                                   @Math.Round(p.Sale*100, 1)%
                                                   
                                            </div>
                                         }

                                            <div class="wrap__sold-out text-center">STORE ONLY</div>
                                        }
                                        else{

                                            @if (p.Sale > 0)
                                            {
                                                <div class="wrap__sale-off text-center"
                                                 style="right:50%; transform:translateX(50%);">@Math.Round(p.Sale*100, 1)%
                                                </div>
                                            }

                                            }
                                
                            </div>
                            <div class="wrap__title">
                                <a class="text-center" href=""> @p.Tensp</a>
                            </div>
                            <div class="wrap__price text-center">
                                
                                    @if(p.Sale>0){

                                        <span class="curren-price">
                                        @formatPrice((p.Dongia*p.Sale))₫
                                        

                                        </span>
                                        <span class="origin-price">
                                      <s>  @formatPrice(p.Dongia-(p.Dongia*p.Sale))₫</s>

                                        </span>
                                    }else{
                                      <span class="curren-price" style="color: #000">

                                        @formatPrice(p.Dongia)₫

                                     </span>
                                    }
                                  
                            </div>
                        </li>
                    }
                  }
                </div>
                <div class="wrap-left-slide text-center" onclick="transition(-1,@products.Count)"><i
                        class="fas fa-angle-left"></i></div>
                <div class="wrap-right-slide text-center" onclick="transition(1,@products.Count)"><i
                        class="fas fa-angle-right"></i></div>
            </ul>
        </div>
    </div>
</section>
</div>
<div class="form">
    <div class="form__content">
        <div class="delete-form" onclick="closeForm()">
            <i class="fas fa-times-circle"></i>
        </div>
        <div class="form__title"><h3>Giỏ hàng của bạn (Đang có 0 sản phẩm)</h3></div>
        <div class="form__table">
            <table>
                <thead>
                <th></th>
                <th>Sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>

                </thead>
                <tbody class="row-product">


                </tbody>

            </table>
        </div>
        <div class="form__footer">
            <div class="form__footer__left">
                <a href="" class="return-shop">
                    <i class="fas fa-reply"></i>
                    Tiếp tục mua hàng
                </a>
            </div>
            <div class="form__footer__right">

            </div>
        </div>
    </div>
</div>
@section scripts{
<!-- code html cho form thêm hàng -->
<script src="~/script/detail.js"></script>
<script>

    //click text-center add active
    let form = document.querySelector(".form")
    let arrNumber;
     
    document.querySelectorAll('.label__size').forEach(function (item) {
        item.addEventListener('click', function () {
            item.classList.toggle('active');
            console.log("okkk")
        })
    })
    let listSelect=document.querySelectorAll(".label__size");
    function activeForm() {
        if (checkSelect(listSelect)) {
            var array = document.querySelectorAll(".select-image");
            var arrSize = [];
            $('.row-product').html('');
            var sizegioHang = document.querySelector(".cart-count.color-red").innerHTML;
            let totalNumber = 2;
            $('.form__title h3').text('GIỎ HÀNG CỦA BẠN (ĐANG CÓ ' + sizegioHang + ' SẢN PHẨM)');
            for (var i = 0; i < array.length; i++) {
                var parent = array[i].closest('.text-center');
                if (parent.classList.contains('active')) {
                    var size = parent.querySelector("strong").innerHTML;
                    arrSize.push(size);
                    var input = '';
                    if (size === 'S') {
                        input = '<input class="quantity" type="number" min="1" value ="1" max="@product.S">';
                    }
                    if (size === 'M') {
                        input = '<input  class="quantity" type="number" min="1" value ="1" max="@product.M">';

                    }
                    if (size === 'L') {
                        input = '<input class="quantity" type="number" min="1" value ="1" max="@product.L">';

                    }
                    if (size === 'XL') {
                        input = '<input class="quantity" type="number" min="1" value ="1" max="@product.Xl">';

                    }

                    $('.row-product').append('<tr class="row-data" data-product-price = " @formatPrice(@product.Dongia-(@product.Dongia*@product.Sale))"' +
                        ' data-product-id="@product.Masp" data-product-size="'+size.toUpperCase()+'" data-product-img="@urls.ElementAt(0)">' +
                        '<td class="table__image-decription"><a href=""><img' +
                        ' src="..@urls.ElementAt(0)" alt=""></a></td>' +
                        '<td class="table__infor-decription ">' +
                        '<a href="" class="bold-text"><h6>@product.Tensp @product.Masp</h6></a> <br>' +
                        '<span class = "size-product" size = "' + size + '">Phiên bản: Size ' + size + ' @product.Mau </span><br>' +
                        '<span>Bộ sưu tập: @collection.Name</span></td>' +
                        '<td class="table__price-bill bold-text">@formatPrice(@product.Dongia-(@product.Dongia*@product.Sale))₫</td>' +
                        '<td class="table__amount">' + input + '</td>' +
                        '<td class="table__price bold-text">@formatPrice(@product.Dongia-(@product.Dongia*@product.Sale))₫ </td>' +
                        '<td class="table__delete-element"><i class="fas fa-trash-alt"></i></td>' +
                        '</tr>');

                }


            }
            arrNumber = document.querySelectorAll('.quantity')
            totalNumber = arrNumber.length
            let footerTable = document.querySelector('.form__footer__right');


            footerTable.innerHTML = ` <div class="summary-price"><h3>
            TỔNG: ` + convertPrice(arrNumber.length * (@product.Dongia-(@product.Dongia*@product.Sale))) + `</h3></div>
                <div class="save-price">Tiết kiệm: ` + convertPrice(arrNumber.length * (@product.Dongia*@product.Sale)) + `</div>
                <button class="update-cart">CẬP NHẬT GIỎ HÀNG</button>

                <a class="pay-button" onClick="transformCheckout()">TIẾN HÀNH THANH TOÁN</a>`
            let form = document.querySelector(".form")

            form.firstElementChild.style.animation = "modalFadeIn  ease-in 0.4s"
            form.classList.add("action-flex")
            $('.quantity').focusout(function (){
                var min=parseInt(this.min)
                var max=parseInt(this.max)
                if(parseInt($(this).val())>max) $(this).val(max)
                else if(parseInt($(this).val())<min) $(this).val(min)
                $(this).change();
            })
            $('.quantity').change(function () {
                arrNumber = document.querySelectorAll('.quantity')
                totalNumber = 0;
                for (var i = 0; i < arrNumber.length; i++) {
                    totalNumber += parseInt(arrNumber[i].value)
                }

                $(this).parent().siblings('.table__price.bold-text').text(convertPrice(parseInt(this.value) * (@product.Dongia-(@product.Dongia*@product.Sale))))
                $('.summary-price').html(`<h3>TỔNG: ` + convertPrice(totalNumber * (@product.Dongia-(@product.Dongia*@product.Sale))) + `</h3>`)

                $('.save-price').text(`Tiết kiệm: ` + convertPrice(totalNumber * (@product.Dongia*@product.Sale)))
            })
            $('.table__delete-element').click(function () {
                $(this).parent().remove()
                arrNumber = document.querySelectorAll('.quantity')
                totalNumber = 0;
                for (var i = 0; i < arrNumber.length; i++) {
                    totalNumber += parseInt(arrNumber[i].value)
                }
                $('.summary-price').html(`<h3>TỔNG: ` + convertPrice(totalNumber * (@product.Dongia-(@product.Dongia*@product.Sale))) + `</h3>`)

                $('.save-price').text(`Tiết kiệm: ` + convertPrice(totalNumber * (@product.Dongia*@product.Sale)))

            })
        }


        //click cap nhat gio hang
        $('.update-cart').click(function () {
            let arrNumber = document.querySelectorAll('.size-product');
            let arrQuantity = document.querySelectorAll('.quantity');
            var arrayQuantity = []
            //get attribute size
            let arrSize = [];
            for (var i = 0; i < arrNumber.length; i++) {
                arrSize.push(arrNumber[i].getAttribute('size'));
            }
            //get quantity
            for (var i = 0; i < arrQuantity.length; i++) {
                arrayQuantity.push(arrQuantity[i].value)
            }
            addCart(arrSize, arrayQuantity);


        })


    }

        function closeForm() {


            if (form.classList.contains("action-flex")) {
                form.firstElementChild.style.animation = "modalFadeOut ease 0.4s"
                form.classList.remove("action-flex")
            }
        }
            function responsive() {
                if (window.innerWidth <= 739) {
                    $('#image__right').insertAfter('.product__price')
                } else $('#image__right').insertBefore('#image__left')
            }

            responsive();
            resizeWindow();
            document.getElementsByTagName("BODY")[0].onresize = function () {
                resizeWindow();
                responsive();
            }

            
        function addCart(arrSize, arrayQuantity) {
            var data=getDataCheckbox();
            if(data.length>0){
                var id = '@product.Masp';
                //convert array to json
                var size = JSON.stringify(arrSize);
                var quantity = JSON.stringify(arrayQuantity);
                //ajax
                $.ajax({
                    url: '~/Cart',
                    type: 'POST',
                    data: {
                        id: id,
                        size: size,
                        quantity: quantity
                    },
                    success: function (data) {
                        //get json
                        var json = JSON.parse(data);
                        if (json.success === 'true') {
                            $('.cart-count.color-red').text(json.quantity);
                            pushNotify('success', 'Thêm vào giỏi hàng thành công', 'Thêm Sản phẩm');
                            closeForm();

                        } else {
                            pushNotify('error', 'Thêm vào giỏi hàng thất bại', 'Thêm Sản phẩm');

                        }
                    }
                });
            }
            else pushNotify('error', 'Bạn chưa chọn sản phẩm nào','Lỗi');
        }

    function pushNotify(status, message, title) {
        new Notify({
            status: status,
            title: title,
            text: message,
            effect: 'fade',
            speed: 300,
            customClass: '',
            customIcon: '',
            showIcon: true,
            showCloseButton: true,
            autoclose: true,
            autotimeout: 2000,
            gap: 20,
            distance: 20,
            type: 1,
            position: 'right top',
            customWrapper: '',
        })
    }
    // get data to checkout
    function getDataCheckbox(){
        let listRow =   document.querySelectorAll('.row-data');
        let listData = [];
        listRow.forEach((element) => {
            let id = element.getAttribute("data-product-size");
            let sizeName=element.getAttribute('data-product-id');
            let img = element.getAttribute('data-product-img');
            let price = element.getAttribute('data-product-price');
            listData.push({
                id: id,
                size: sizeName,
                quantity: element.querySelector('.quantity').value,
                name:element.querySelector('.bold-text>h6').innerText,
                img:img,
                price:price
            });
        });
        return listData;
    }
    function transformCheckout(){
        let data = getDataCheckbox();
        console.log(data.length)
        if (data.length>0){
            // ajax transform data to json
            let dataJson = JSON.stringify(data);
            $.ajax({
                url: "~/DoCheckout",
                type: "POST",
                data: {
                    data: dataJson
                },
                success: function (data) {
                    if (data!=null&&data==="success"){
                        location.href = "~/check-outs";
                    }else {
                        pushNotify('error', 'Có lỗi xảy ra, vui lòng thử lại sau','Lỗi');
                    }
                }
            });
        }else {
            pushNotify('error', 'Bạn chưa chọn sản phẩm nào','Lỗi');
        }
    }
</script>

}




