@using WebShoppingDotnet.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    User user = ViewBag.user1;
    Khachhang customer = ViewBag.customer1;
}
<link rel="stylesheet" href="~/css/checkOuts.css">

<div class="container">
    <div class="top">
        <div class="top-title-container">
            <p class="title-top title-top-start">Giỏ hàng</p>
            <p class="title-top title-top-betwent ">Thông tin vận chuyển</p>
            <p class="title-top title-top-end">Thanh toán</p>

        </div>
        <div class="top-container">
            <div class="icon-top-container">
                <div class="item-top-icon">
                    <div class="icon-top">
                        <i class="fa fa-shopping-cart"></i>
                    </div>

                </div>

                <div class="bar-top bar-top-1"></div>
            </div>

            <div class="icon-top-container">
                <div class="item-top-icon">
                    <div class="icon-top">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                </div>
                <div class="bar-top"></div>

            </div>
            <div class="icon-top-container end">
                <div class="item-top-icon">

                    <div class="icon-top">
                        <i class="fa fa-credit-card"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="end-container-bottom">
        <div class="content-left">
            <p class="title-content-left">Thông tin thanh toán</p>
            <div class="box-content-left">
                <div class="input-item-content-box">
                    <input id="name-customer" onkeyup="checkName(this)" class="input-item" placeholder="Họ và Nhập tại đây" type="text" pattern="^((\s*[a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ]+\s*)+)$">
                    <div class="error-box">
                        <p class="error-text">Họ và tên không được để trống</p>
                    </div>
                </div>
                <div class="input-item-content-box" >
                    <input id="email-customer" value="@user.Usermail>" onkeyup="checkEmail(this)" class="input-item" placeholder="Email" type="email" pattern="^(\w+@@gmail.com)$">
                    <div class="error-box">
                        <p class="error-text">Email không được để trống</p>
                    </div>
                </div>
                <div  class="input-item-content-box">
                    <input  id="phone-customer" onkeyup="checkPhone(this)" class="input-item" placeholder="Điện Thoại" type="number" pattern="^(^0\d{8,})$">
                    <div class="error-box">
                        <p class="error-text">Số điện thoại không được để trống</p>
                    </div>
                </div>
                <div class="input-item-content-box">
                    <input id="address-customer"  class="input-item" placeholder="Địa chỉ" type="text">
                    <div class="error-box">
                        <p class="error-text">Địa chỉ không được để trống</p>
                    </div>
                </div>

                <div class="dia-diem">
                    <div class="input-item-content-box">
                        <select class="diem-diem-item" onChange="clickTinhThanhPho(this)" id="tinh-thanh-pho" >
                            <option   value="">Tỉnh/Thành Phố</option>
                        </select>
                        <div class="error-box">
                            <p class="error-text">không được để trống</p>
                        </div>
                    </div>
                    <div class="input-item-content-box">
                        <select class="diem-diem-item" onchange="clickQuanHuyen(this)"   id="quan-huyen" >
                            <option   value="">Quận/Huyện</option>
                        </select>
                        <div class="error-box">
                            <p class="error-text">không được để trống</p>
                        </div>
                    </div>
                    <div class="input-item-content-box">

                        <select class="diem-diem-item" id="phuong-xa" >
                            <option   value="">Phường/xã</option>
                        </select>
                        <div class="error-box">
                            <p class="error-text">không được để trống</p>
                        </div>
                    </div>

                </div>
                <div class="button-click">
                    <a href="/cart"><input class="billing_address billing_address_1" type="button" value="Giỏ hàng"></a>
                    <input class="billing_address billing_address_2" type="button" value="Đặt Hàng">
                </div>


            </div>
        </div>
        <div class="bettwent-content"></div>
        <div class="content-right-box">
            <p class="title-content-right">Sản Phẩm</p>
            <div class="box-item-content-right">
            @foreach (CheckoutDTo c in Model)
            {
                <div class="item-content-right">
                    <img class="img-item-content-right" src="@c.img" alt="">
                    <p class="name-product-item">@c.name<br>
                        size: @c.size </p>
                    <input disabled min="1" class="so-luong" value="@c.quantity" type="number">
                    <p class="price-product-item">@c.price</p>
                </div>
            }
                
            </div>
            <div class="bar-content-right-box"></div>
            <div class="box-check-out-mony">
                <p class="title-left-check-out">Tạm tính</p>
                <p class="title-right-check-out">@ViewBag.total</p>

            </div>
            <div class="box-check-out-mony">
                <p class="title-left-check-out">Phí ship</p>
                <p class="title-right-check-out">0 đ</p>
            </div>
            <div class="bar-content-right-box"></div>
            <div class="box-check-out-mony">
                <p class="title-left-check-out title-left-check-out-sum">Tổng tiền</p>
                <p class="title-right-check-out">@ViewBag.total</p>

            </div>
        </div>


    </div>
    
</div>
<!--clear fix-->
<div class="return-home">
    <div class="feedback">
        <div class="feedback__body">
            <img class="thank-logo" src="~/img/thankyou.png" alt="">
            <a class="return-home__button" href="~/home">
                <button>Trở Lại Trang Chủ</button>
            </a>
            <strong>OR</strong>
            <a class="orders-page__button" href="~/order?status=all">
                <button>Xem Đơn Mua</button>
            </a>
        </div>

    </div>

</div>
@section Scripts
{
    <script >
    var userJs="@user"
    var customerJs="@customer"
    var array;
    var valueTinhThanhPho = "Tỉnh/Thành Phố";
    var arrayQuanHuyen;
    var valueQuanHUyen = "Quận / Huyện";
    var arrayPhuongXa;
    $.getJSON("../data/local.json", function (json) {
        // console.log(json); // this will show the info it in firebug console
        array = json;
        // console.log(array[0]);
        $("#tinh-thanh-pho").html('<option value="">Tỉnh/Thành Phố</option>');
        array.forEach((element) => {
            $("#tinh-thanh-pho").append(
                '<option value="' + element.name + '">' + element.name + "</option>"
            );
        });
        if(customerJs){
        $("#tinh-thanh-pho").val("@Html.Raw(customer.TinhTp)").change();
        clickTinhThanhPho(document.getElementById("tinh-thanh-pho"));
        $("#quan-huyen").val("@Html.Raw(customer.QuanHuyen)").change();
        $("#phuong-xa").val("@Html.Raw(customer.PhuongXa)").change();
        }
    });
    function clickTinhThanhPho(sel) {
        valueTinhThanhPho = sel.options[sel.selectedIndex].text;

        array.forEach((element) => {
            if (element.name === valueTinhThanhPho) {
                arrayQuanHuyen = element.districts;
            }
        });

        $("#quan-huyen").html("");
        $("#quan-huyen").append('<option value="">Quận/Huyện</option>');
        $("#phuong-xa").html('<option value="">Phường/xã</option>');

        arrayQuanHuyen.forEach((element) => {
            $("#quan-huyen").append('<option value="' + element.name + '">' + element.name + "</option>");
        });
    }



    function clickQuanHuyen(el) {
        valueQuanHUyen = el.options[el.selectedIndex].text;

        arrayQuanHuyen.forEach((element) => {
            if (element.name === valueQuanHUyen) {
                arrayPhuongXa = element.wards;
            }
        });

        $("#phuong-xa").html('<option value="">Phường/xã</option>');
        arrayPhuongXa.forEach((element) => {
            $("#phuong-xa").append('<option value="' + element.name + '">' + element.name + "</option>");
        });
    }
    //get element class name billing_address_2 envent click
    document.querySelectorAll('.input-item-content-box .input-item').forEach(function (item) {
        item.addEventListener('keyup', function () {
            let err = item.closest('.input-item-content-box').querySelector('.error-box')

            if (err) {
                if (item.value.trim() === '' || checkPattern(item)===false) {
                    err.classList.add('active');

                } else {
                    err.classList.remove('active');

                }
            }
        });

    });
    document.getElementsByClassName('billing_address_2')[0].addEventListener('click', function () {
        clickDatHang();

        document.querySelectorAll('.input-item-content-box .input-item').forEach(function (item) {
            let err = item.closest('.input-item-content-box').querySelector('.error-box')
            if(err) {
                if (item.value.trim() === '') {
                    err.classList.add('active');
                } else {
                    err.classList.remove('active');
                }
            }
        });
        document.querySelectorAll('.dia-diem .diem-diem-item').forEach(function (item) {
            select_event(item);
        });
    });
    //fuction event select != index 1
    function select_event(select) {
        let index = select.selectedIndex;
        let err = select.closest('.input-item-content-box').querySelector('.error-box')
        // get index select
        if (index===0) {
            err.classList.add('active');
        }else {
            err.classList.remove('active');
        }
    }
    document.querySelectorAll('.dia-diem .diem-diem-item').forEach(function (item) {
        item.addEventListener('change', function () {
            select_event(item);
        });
    });

    if(customerJs){
    $("#name-customer").val("@Html.Raw(customer.HoTen)");
    $("#phone-customer").val("@Html.Raw(customer.DienThoai)");
    $("#address-customer").val("@Html.Raw(customer.DiaChi)");


    }

    function clickDatHang() {
        var check = true;
        if(!customerJs){
        check = false;
        }
        var name = $("#name-customer").val();
        var phone = $("#phone-customer").val();
        var email = $("#email-customer").val();
        var address = $("#address-customer").val();
        var tinhTP = $("#tinh-thanh-pho").val();
        var quanHuyen = $("#quan-huyen").val();
        var phuongXa = $("#phuong-xa").val();
        if(name.trim().length > 0 && phone.trim().length > 0
            && checkEmailp(email)
            &&checkPhonep(phone)
            && address.trim().length > 0
            && tinhTP.trim().length > 0
            && quanHuyen.trim().length > 0 && phuongXa.trim().length > 0) {

            //ajax
            $.ajax({
                url: "@Url.Action("CheckOut","Checkout")",
                type: "POST",
                data: {
                    name: name,
                    phone: phone,
                    email: email,
                    address: address,
                    tinhTP: tinhTP,
                    quanHuyen: quanHuyen,
                    phuongXa: phuongXa,
                    data:@Html.Raw(ViewBag.data),
                    check: check
                },
                success: function (data) {
                    if (data.trim() === "success") {
                        $('.return-home').css('display', 'block');
                        
                    } else {
                        pushNotify('error', 'Đặt hàng thất bại','Đặt hàng');
                    }
                }
            });
        }

    }
    function pushNotify(status, message, title) {
        new Notify({
            status: status,
            title: title,
            text: message,
            effect: 'fade',
            speed: 300,
            customClass: '',
            customIcon: '',
            showIcon: true,
            showCloseButton: true,
            autoclose: true,
            autotimeout: 2000,
            gap: 20,
            distance: 20,
            type: 1,
            position: 'right top',
            customWrapper: '',
        })
    }

    //check format email
    function checkEmailp(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
    //check format phone
    function checkPhonep(phone) {
        var re = /^[0-9]{10,11}$/;
        return re.test(String(phone).toLowerCase());
    }

    // handled input form
    function checkPattern(element){
        let patterns=new RegExp(element.pattern);
        let check=(patterns).test(element.value);
        return check
    }
    function checkName(element) {
        let check=checkPattern(element)
        let err = element.closest('.input-item-content-box').querySelector('.error-box')
        if(check==false) {
            element.style.border="2px solid red"
            err.innerHTML="<p class='error-text'>Họ và Tên chỉ gồm chữ và khoảng trắng</p>"
        }
        else {
            element.style.border="1px solid rgb(197, 192, 192)"
            err.innerHTML="<p class='error-text'></p>"
        }
    }
    function checkEmail(element) {
        let check=checkPattern(element)
        let err = element.closest('.input-item-content-box').querySelector('.error-box')
        if (check == false) {
            element.style.border = "2px solid red"
            err.innerHTML="<p class='error-text'>Email không đúng định dạng</p>"
        } else {
            element.style.border = "1px solid rgb(197, 192, 192)"
            err.innerHTML="<p class='error-text'></p>"
        }
    }
    function checkPhone(element) {
        let check=checkPattern(element)
        let err = element.closest('.input-item-content-box').querySelector('.error-box')
        if (check == false) {
            element.style.border = "2px solid red"
            err.innerHTML="<p class='error-text'>Chúng tôi không thể định dạng được số điện thoại này. Vui lòng nhập lại !</p>"
        } else {
            element.style.border = "1px solid rgb(197, 192, 192)"
            err.innerHTML="<p class='error-text'></p>"
        }
    }

</script>

}