@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Product p = Model;
}
<div class="slide-collection">
    <div class="collection-slide-div">
        <a href="/Shopping/detail?id=<%=p.getMaSP()%>">

            <img class="collection-slide-image" src="" alt="">
        </a>
        <div class="btn-img">
            <div class="btn-img-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="btn-img-buy">
                <a href="/Shopping/detail?id=<%=p.getMaSP()%>">mua ngay</a>
            </div>
            <div class="btn-img-cart" idSP="@p.Masp">
                onclick="openModal(this)"
                data-product-id="@p.Masp"
                data-product-name="@p.Tensp"
                data-product-price="@p.Dongia"
                data-product-img="<%=p.getListUrlImg().get(0)%>"
                data-product-sell="@p.Sale"
                data-product-size-s="@p.S"
                data-product-size-l="@p.L"
                data-product-size-m="@p.M"
                data-product-size-xl="@p.Xl"
                data-product-color="@p.Mau">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
        @{
            if (p.Sale>0)
            {
                String giaGiam = Math.Round(p.Sale * 100) + "%";
                <div class="colection-tag">
                    <div class="tag-saleoff">
                        <span>
                            @giaGiam
                        </span>
                    </div>
                    <img src="~/img/img-sale.png" alt="" class="img-sale">
                </div>
            }
        }
    </div>
    <div class="list-image-hover">
        
    </div>
</div>