<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShoppingDotnet</title>
     <link href="~/assets/fontawesome-free-6.0.0-beta3-web/css/all.css" rel="stylesheet" />
     <link href="~/img/favicon.svg" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" href="~/assets/notify/simple-notify.min.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/term.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/assets/loader.css">
    <script src="~/script/jquery-3.5.0.min.js"></script>
    @RenderSection("Styles", false)
    </head>

<body>
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    @RenderBody()
@Html.Partial("~/Views/Shared/_Footer.cshtml")

   @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @*<script src="~/script/home.js"></script>*@
@*<script src="~/script/header.js"></script>*@
<script src="~/assets/notify/simple-notify.min.js"></script>
<script src="~/script/header.js"></script>
<script src="~/script/term.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
