@model List<Quangcao>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/assets/modal/modal.css">
}

@section Scripts
{
    <script src="~/script/home.js"></script>

}

<section id="banner">
    <div id="main-slideshow">
        <div class="slideshow-content" id="ml-slide">

            @foreach (var item in Model)
            {
                <div class="mySlides">
                    <img src="@item.UrlImg">
                </div>
            }
            <!-- slide1 -->
        </div>
        <div class="slick">
            <div onclick="plusDivs(-1)">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div onclick="plusDivs(1)">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
        <div class="dots">
            <span class="dot demo" onclick="currentDiv(1)"></span>
            <span class="dot demo" onclick="currentDiv(2)"></span>
            <span class="dot demo" onclick="currentDiv(3)"></span>
            <span class="dot demo" onclick="currentDiv(4)"></span>
            <span class="dot demo" onclick="currentDiv(5)"></span>
        </div>
    </div>
</section>
<section id="home-collection">
    <div class="container">
        @{
            Bosutap boSuaTap1 = ViewBag.BoSuuTap1;
            Bosutap boSuaTap2 = ViewBag.BoSuuTap2;
        }
        <div class="collection-item" id="collection-first">

            <div class="collection-banner" style="background-image: url(@boSuaTap1.Img)">
                <a href=""></a>
            </div>
            <div class="collection-main">
                <h2 class="section-title margin-right-5">
                    @boSuaTap1.Name
                </h2>
                <p class="subtile-section">
                    @boSuaTap1.Tieude
                </p>

                <div class="collection-slide">
                    <div class="collection-content">


                        <div class="slideshow-collection">

                        </div>

                    </div>
                    <div class="slick-collection">
                        <div class="prev-btn slick-style-prev">
                            <i class="fa-solid fa-chevron-left"></i>
                        </div>
                        <div class="next-btn slick-style-next">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>

                <!-- btn -->
                <div>
                    <a class="btn">
                        xem thêm
                    </a>
                </div>
            </div>
        </div>
        <div class="collection-item" id="collection-second">

            <div class="collection-main">
                <h2 class="section-title margin-right-5">
                    @boSuaTap2.Name
                </h2>
                <p class="subtile-section">
                    @boSuaTap2.Tieude
                </p>

                <div class="collection-slide">
                    <div class="collection-content">
                        @foreach (Product product in ViewBag.ListBST1)
                        {                    
                            <partial name="Components/ViewProduct/Index" model="product"/>
                        }
                    </div>

                </div>
                <div class="slick-collection">
                    <div class="prev-btn slick-style-prev">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div class="next-btn slick-style-next">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>

            <!-- btn -->
            <div>
                <a href="" class="btn">
                    xem thêm
                </a>
            </div>
        </div>
        <div class="collection-banner" style="background-image: url(@boSuaTap2.Img)">
            <a href=""></a>
        </div>




    </div>
</section>